@import "~bootstrap/dist/css/bootstrap.css";

@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';


html, body {
    margin: 0;
    padding: 0;

    width: 100%;
} 

